//--------------------------------------------------------
//              Patron de Colores
//--------------------------------------------------------
$texto: red;
$principal: blue;
$secundario: orange;